{# app/Resources/views/blog/index.html.twig #}
{% extends 'blog/base.html.twig' %}


{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ asset('img/home-bg.jpg') }}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Blog de Carlos</h1>
                        <span class="subheading">Ayudado por Edu</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Page content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">

                        <h2 class="post-title">
                            CONTACT
                        </h2>

                </div>
            </div>
        </div>
    </div>
{% endblock %}